@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* .scroll-rounded-r ::-webkit-scrollbar {
  border-radius: 0.5rem 0.5rem 0 0;
} */
/* Track */
::-webkit-scrollbar-track {
  background: #eee0cb;
  opacity: 0.2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fed;
  border-radius: 5px;
  opacity: 0.2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fed2aa;
}

svg.star-svg {
  display: inline;
}
