@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fed7aa;
  border-radius: 5px;
  opacity: 0.2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fed;
  border-radius: 5px;
  opacity: 0.2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
